body{
  font-family: 'Roboto', sans-serif;
  background: 	#43484c;
  margin: auto;
  padding: 1rem;
}

.main-container{
  display: grid;
  grid: 0.15fr 1fr 10px / 1fr;
  gap: 4rem;
  justify-items: center;
}

.header{
  display: grid;
  grid: 1fr / 1fr 1fr;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
  color: white;
}

.title{
  font-size: 5rem;
}

/* Showcase*/
.showcase{
  display: grid;
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.showcase-title{
  position: absolute;
  font-size: 2rem;
  top: -10%;
  left: 30%;
}

.feature-container1{
 position: absolute;
 top: 0;
 left: 0;
 height: 150px;
 width: 150px;
 background: white;
 animation-duration: 4s;
 animation-iteration-count: 3;
}

.feature-container2{
 position: absolute;
 top: 0;
 right: 0;
 height: 200px;
 width: 200px;
 background: white;
}

.feature-container3{
 position: absolute;
 bottom: 0;
 left: 0;
 height: 200px;
 width: 200px;
 background: white;
}

.feature-container4{
 position: absolute;
 bottom: 0;
 right: 0;
 height: 200px;
 width: 200px;
 background: white;
}

.showcase-main-area {
  background-color: hsl(207, 9%, 19%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 60vw;
}

.perspective-container {
  perspective: 800px;
}

.card {
  background-size: cover;
  box-shadow: 0 0 140px 10px rgba(0,0,0,.5);
  position: relative;
  height: 65vh;
  width: 85vw;
  overflow: hidden;
  --sheenX: 0;
  --sheenY: 0;
}

.card :: after {
  content: "";
  position: absolute;
  top: -400px;
  right: -400px;
  bottom: -400px;
  left: -400px;
  background: linear-gradient(217deg, rgba(255,255,255,0), rgba(255,255,255,0) 35%, rgba(255,255,255,0.25) 45%, rgba(255,255,255,.25) 50%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%);
  transform: translateX(var(--sheenX)) translateY(var(--sheenY));
}
