body{
  font-family: 'Roboto', sans-serif;
  background: 	#43484c;
  margin: auto;
}

.main-container{
  display: grid;
  grid: 0.15fr 1fr 0.1fr / 1fr;
  justify-items: center;
  height: 100vh;
  gap: 1.5rem;
}

.header{
  display: grid;
  grid: 1fr / 1fr 1fr;
  align-items: center;
  gap: 4rem;
  color: black;
  background: white;
  width: 100%;
  height: 100%;
  box-shadow: 0px 3.5px rgba(0, 0, 0, 0.3);
}

.footer{
  display: grid;
  align-items: center;
  color: white;
}

.title{
  font-size: 5rem;
  padding: 1.5rem;
}

.content-title{
  font-size: 2rem;
  text-align: center;
}

/* About me page */
.aboutme-container{
  font-size: 1.25rem;
  display: grid;
  grid: 0.1fr 1fr / 1fr;
  justify-items: center;
  padding: 5rem;
  border-radius: 10px;
  width: 50vw;
  margin: 2.5rem;
}


/* skills page */
.skills-container{
  font-size: 1.25rem;
  display: grid;
  grid: 0.1fr 1fr / 1fr;
  justify-items: center;
  padding: 5rem;
  border-radius: 10px;
  width: 50vw;
  margin: 2.5rem;
}


/* contacts page */
.contacts-container{
  font-size: 1.25rem;
  display: grid;
  grid: 0.1fr 1fr / 1fr;
  justify-items: center;
  padding: 5rem;
  border-radius: 10px;
  width: 50vw;
  margin: 2.5rem;
}

/* Showcase*/
.showcase{
  display: grid;
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
  font-size: 1.25rem;
}

.showcase-top-area{
  display: grid;
  grid: 1fr 1fr / 1fr;
  justify-items: center
}

.showcase-top-area a{
  font-size: 2.5rem;
}

.feature-container1{
 position: absolute;
 top: 0;
 left: 0;
 background: rgba(255, 255, 255, 0.65);
 border-radius: 10px;
 padding: 1rem;
}

.feature-container2{
 position: absolute;
 top: 0;
 right: 0;
 padding: 1rem;
 background: rgba(255, 255, 255, 0.65);
 border-radius: 10px;
}

.feature-container3{
 position: absolute;
 bottom: 0;
 left: 0;
 padding: 1rem;
 background: rgba(255, 255, 255, 0.65);
 border-radius: 10px;
}

.feature-container4{
 position: absolute;
 bottom: 0;
 right: 0;
 padding: 1rem;
 background: rgba(255, 255, 255, 0.65);
 border-radius: 10px;
}

.showcase-main-area {
  display: grid;
  grid: 0.15fr 1fr / 1fr;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 60vw;
}

.showcase-title{
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

.perspective-container {
  perspective: 800px;
}

.card {
  background-size: cover;
  box-shadow: 0 0 140px 10px rgba(0,0,0,.5);
  position: relative;
  height: 65vh;
  width: 85vw;
  overflow: hidden;
  --sheenX: 0;
  --sheenY: 0;
}

.card :: after {
  content: "";
  position: absolute;
  top: -400px;
  right: -400px;
  bottom: -400px;
  left: -400px;
  background: linear-gradient(217deg, rgba(255,255,255,0), rgba(255,255,255,0) 35%, rgba(255,255,255,0.25) 45%, rgba(255,255,255,.25) 50%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%);
  transform: translateX(var(--sheenX)) translateY(var(--sheenY));
}
